.body {
	width: 100%;
	margin: 0 auto;
}

.first {
	width: 100%;
}

.first h1 {
	color: black;
}

.hoofdtitle {
	margin-top: 100px;
	background-color: #b8dbdc;
	width: 100%;
	align-self: center;
	text-align: center;
}
.introduction {
	padding: 50px;
	padding-left: 150px;
	padding-right: 150px;
	background-color: #0c3b4b;
	align-self: center;
	text-align: center;
	color: white;
}

.title {
	margin-top: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #b8dbdc;
	height: 50px;
	align-self: center;
	text-align: center;
}

.basis {
	background-color: #b8dbdc;
	width: 100%;
	height: 50%;
	align-self: center;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.second {
	display: flex;
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 10px;
	width: 100%;
}

.second p {
	color: black;
	padding-left: 100px;
	padding-right: 100px;
	margin-left: 20px;
	margin-right: 20px;
	justify-content: center;
}

.verbindende_rol {
	flex: 1;
	background-image: url(assets/images/SVG/Asset\ 1.svg);
	background-repeat: no-repeat;
	background-size: 80%;
	min-height: 400px;
	background-position: top center;
	align-self: center;
	text-align: center;
	padding-top: 50px;
}

.kritische_rol {
	flex: 1;
	background-image: url(assets/images/SVG/SVG/Asset\ 3.svg);
	background-repeat: no-repeat;
	background-size: 80%;
	min-height: 400px;
	background-position: top center;
	margin-bottom: 10px;
	align-self: center;
	text-align: center;
	padding-top: 50px;
}

.laboratorium_rol {
	flex: 1;
	background-image: url(assets/images/SVG/SVG/SVG/Asset\ 3.svg);
	background-repeat: no-repeat;
	background-size: 80%;
	min-height: 400px;
	background-position: top center;
	align-self: center;
	text-align: center;
	padding-top: 50px;
}

.leerfunctie {
	flex: 1;
	background-image: url(assets/images/SVG/SVG/Asset\ 4.svg);
	background-repeat: no-repeat;
	background-size: 80%;
	min-height: 400px;
	margin-left: 50px;
	background-position: top center;
	align-self: center;
	text-align: center;
	padding-top: 50px;
}

.gemeenschapsvormende_rol {
	flex: 1;
	background-image: url(assets/images/SVG/SVG/SVG/Asset\ 5.svg);
	background-repeat: no-repeat;
	background-size: 80%;
	min-height: 400px;
	background-position: top center;
	padding-top: 50px;
	align-self: center;
	text-align: center;
}

.cultuurfunctie {
	flex: 1;
	background-image: url(assets/images/SVG/SVG/SVG/Asset\ 7.svg);
	background-repeat: no-repeat;
	background-size: 80%;
	min-height: 400px;
	background-position: top center;
	padding-top: 50px;
	align-self: center;
	text-align: center;
}

.maatschappelijkebewegingsfunctie {
	flex: 1;
	background-image: url(assets/images/SVG/SVG/SVG/SVG/Asset\ 8.svg);
	background-repeat: no-repeat;
	background-size: 80%;
	min-height: 400px;
	background-position: top center;
	padding-top: 50px;
	align-self: center;
	text-align: center;
}

.imgbindus {
	flex: 1;
	background-image: url(assets/images/Logo.png);
	background-repeat: no-repeat;
	background-size: 60%;
	min-height: 400px;
	background-position: top center;
	padding-top: 50px;
}

.wrapper img {
	width: 50%;
	height: 20%;
	display: flex;
	margin-left: 360px;
}
