@import url("https://fonts.cdnfonts.com/css/nexa-bold");

body {
    background-color: whitesmoke;
    margin: 0;
    font-family: "Nexa", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}