.body {
	width: 100%;
	margin: 0 auto;
}

.first {
	width: 100%;
}

.hoofdtitel {
	margin-top: 100px;
	background-color: #b8dbdc;
	width: 100%;
	align-self: center;
	text-align: center;
}
.introduction {
	padding: 50px;
	padding-left: 150px;
	padding-right: 150px;
	background-color: #0c3b4b;
	align-self: center;
	text-align: center;
	color: white;
}

.title {
	margin-top: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #b8dbdc;
	height: 50px;
	align-self: center;
	text-align: center;
}

.basis {
	background-color: #b8dbdc;
	width: 100%;
	height: 50%;
	align-self: center;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.second {
	display: flex;
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 10px;
	width: 100%;
}

.verbindende_rol {
	display: flex;
	flex: 1;
	background-image: url(assets/images/SVG/Asset\ 1.svg);
	background-repeat: no-repeat;
}

.verbindende_rol img {
	height: max-content;
	width: 45%;
	height: 50%;
}
.kritische_rol {
	display: flex;
	flex: 1;
}

.wrapper img {
	width: 50%;
	height: 20%;
	display: flex;
	justify-content: center;
}
