@import url("https://fonts.cdnfonts.com/css/nexa-bold");

body {
    background-color: whitesmoke;
    margin: 0;
    font-family: "Nexa", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    z-index: 20;
}

.missie {
    width: 100%;
    height: 100px;
    background-color: #b7dcdb;
    margin-top: 200px;

}

.missie ul {
    list-style: none;
    font-size: larger;
    margin-left: 42%;
}

.wasdraad {
    width: 100%;
    height: 500px;
    background-color: whitesmoke;
    padding-top: 20px;
}

.impact {
    width: 100%;
    height: 80px;
    background-color: #b7dcdb;

}

.impact ul {
    list-style: none;
    margin-left: 35%;
    font-size: larger;
}

.cijfers {
    width: 100%;
    height: 500px;
    background-color: whitesmoke;
}

.nieuwsbrief {
    width: 100%;
    height: 80px;
    background-color: #b7dcdb;

}

.nieuwsbrief ul {
    list-style: none;
    font-size: larger;
    margin-left: 35%;
}

.nieuws {

    width: 100%;
    height: 500px;
    background-color: whitesmoke;
}

.banner {
    width: 100%;
    height: 200px;
    background-color: #04838b;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: blue;
    margin-left: 30%;
}

.partners {
    width: 50px;
    height: 50px;
    background-color: blue;
    margin-left: 50px;
}

.socials {
    width: 50px;
    height: 50px;
    background-color: blue;
    margin-left: 50px;
}

.contact {
    width: 50px;
    height: 50px;
    background-color: blue;
    margin-left: 50px;
}

.openingsuren {
    width: 50px;
    height: 50px;
    background-color: blue;
    margin-left: 50px;
}

.banner {
    display: flex;
    align-items: center;
}

.innerWrapper {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 2%;
    width: 100%;
    margin-right: 40%;
}

.colorCard {
    margin-left: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.colorCard div {
    height: 200px;
    width: 200px;
    border-radius: 15px;
}

.colorCard h2,
.colorCard p {
    font-size: 20px;
    background-color: #fff;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    margin-top: -25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.colorCard p {
    font-size: 15px;
    background-color: #fff;
    width: 100%;
    height: 50px;
    text-align: center;
    color: gray;
    padding-top: 0;
    font-weight: bold;
    margin-top: -40px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#primaryColor {
    background-color: #043c4c;
}

#secondaryColor1 {
    background-color: #04838b;
}

#secondaryColor2 {
    background-color: #5b7f8a;
}

#tertiaryColor1 {
    background-color: #84949c;
}

#tertiaryColor2 {
    background-color: #04616f;
}

.fontSectionName {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 5%;
    flex: 1;
}

.fontSectionName h3 {
    font-size: 40px;
    margin-bottom: 0;
}

.fontSectionExample {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex: 5;
    color: #043c4c;
}

.fontSectionExample h1 {
    font-size: 60px;
}

.fontSectionExample h2 {
    font-size: 45px;
}

.fontSectionExample h3 {
    font-size: 35px;
}

.fontSectionExample h4 {
    font-size: 30px;
}

.fontSectionExample h5 {
    font-size: 25px;
}

.fontSectionExample h6 {
    font-size: 20px;
}

.fontSectionExample p {
    font-size: 18px;
    margin-left: 20%;
    margin-right: 20%;
}

blockquote {
    margin-top: 2%;
    height: max-content;
    margin-left: 20%;
    padding: 3%;
    width: 55%;
    background-color: #043c4c;
    color: #b7dcdb;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-style: italic;
}

.fontSectionExample .bodyLarge {
    font-weight: 700;
    font-size: 24px;
    text-align: justify;
}

.fontSectionExample .bodyRegular {
    font-weight: 300;
    font-size: 21px;
    text-align: justify;
}

.fontSectionExample .bodySmall {
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
}

.subtitleBlock {
    background-color: #043c4c;
    color: #b7dcdb;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
}

.subtitleBlock h1 {
    color: #b7dcdb;
    text-align: center;
}

.caption {
    background-color: #043c4c;
    padding: 5%;
    border-radius: 25px;
    width: 50%;
    color: #b7dcdb;
    margin-left: 20%;
}

.caption p {
    padding-top: 1%;
}

.caption .captionImg {
    width: 100%;
    border-radius: 25px;
}

.buttonWrapper {
    margin-left: 20%;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: middle;
    padding: 25px;
    background-color: #84949c;
    width: 50%;
}

.basicSmall,
.roundedSmall {
    background-color: #043c4c;
    padding: 15px 25px;
    border-radius: 5px;
    margin: 2px 10px;
    text-decoration: none;
    color: #b7dcdb;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    height: 20%;
}

.basicMedium,
.roundedMedium {
    background-color: #043c4c;
    padding: 25px 35px;
    border-radius: 5px;
    margin: 2px 10px;
    text-decoration: none;
    color: #b7dcdb;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    height: 20%;
}

.basicBig,
.roundedBig {
    background-color: #043c4c;
    padding: 35px 100px;
    border-radius: 5px;
    margin: 2px 10px;
    text-decoration: none;
    color: #b7dcdb;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    height: 30%;
}

.basicSmall:hover,
.basicMedium:hover,
.basicBig:hover,
.roundedSmall:hover,
.roundedMedium:hover,
.roundedBig:hover {
    background-color: #04838b;
    color: #b7dcdb;
}

.roundedSmall,
.roundedMedium,
.roundedBig {
    border-radius: 80px;
}

.socialMedia {
    padding: 20px;
    background-color: #043c4c;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    margin: 15px;
}

.socialMedia img {
    width: 100%;
}

.socialMedia:hover {
    background-color: #04838b;
}

.inputWrapper {
    margin-left: 20%;
    margin-right: 10%;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    padding: 25px;
    background-color: #b7dcdb;
    width: 50%;
}

.basicInputSmall,
.basicInputBig {
    width: 200px;
    height: 25px;
    font-size: 16px;
    background-color: #b7dcdb;
    border-style: none solid solid;
    border-width: 1px 0px 2px;
    border-color: #043c4c;
    border-radius: 0%;
    color: #b7dcdb;
}

.basicInputBig {
    width: 400px;
    height: 30px;
    font-size: 20px;
}

.basicInputBig p {
    font-size: 25px;
    width: 400px;
    height: 30px;
}

.basicInputWrapper,
.basicInputWrapperBig {
    margin-left: 5%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.basicInputWrapper p {
    text-align: left;
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 16px;
}

.basicInputWrapperBig p {
    text-align: left;
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 20px;
}

.textAreaSmall {
    background-color: #b7dcdb;
    width: 350px;
    height: 150px;
    font-size: 16px;
    color: #043c4c;
}

.textAreaSmall p {
    font-size: 25px;
    width: 400px;
    height: 30px;
}

.textAreaBig {
    background-color: #b7dcdb;
    width: 500px;
    height: 250px;
    font-size: 20px;
    color: #043c4c;
}

.textAreaBig p {
    font-size: 25px;
    width: 400px;
    height: 30px;
}

.textAreaWrapperBig {
    margin-left: 5%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.textAreaWrapperBig p {
    text-align: left;
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 20px;
}

header {
    background-color: #b8dcdb;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: middle;
    padding: 2% 0;
}

header a {
    color: #043c4c;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
}

.navbar {
    background-color: #b8dcdb;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: -5%;
    border-radius: 0 0 100% 100%;
    margin-top: -2%;
    width: 25%;
    padding-bottom: 2%;
}

.navbarLogo {
    background-color: #b8dcdb;
    width: 25%;
    margin-left: 35%;
}

#aanmelden {
    margin-left: 80%;
    margin-top: -7%;
}

caption {
    width: 100%;
    height: max-content;
}

.captionImg {
    width: 98%;
    margin-left: 1%;
}

.titleBlock {
    margin-top: 5%;
    width: 40%;
    padding-bottom: 2%;
    margin-left: -7%;
    padding: 0 2% 2% 2%;
    background-color: #043c4c;
    border-radius: 15px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 50px;
    margin-left: 20%;
    margin-bottom: 50px;
}

/* Hide the images by default */
.mySlides {
    display: none;
    margin-left: 80px;
    margin-bottom: 100px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 10;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-bottom: 300px;


}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.wasdraad {

    background-color: red;

}

.rij1 {
    margin-top: -10px;
    width: 100%;
    height: 250px;
    background-color: lime;



}

.missie {
    float: left;
    margin-top: -1px;
    position: relative;
}



.een {
    width: 250px;
    height: 250px;
    background-color: black;
    margin-left: 100px;
    margin-right: 100px;


}

.twee {
    width: 250px;
    height: 250px;
    background-color: white;
    margin-right: 100px;

}

.drie {
    width: 250px;
    height: 250px;
    background-color: yellow;
    margin-right: 100px;


}

.vier {

    width: 250px;
    height: 250px;
    background-color: tan;


}

.rij2 {
    width: 100%;
    height: 250px;
    background-color: blue;

}

.visie {
    float: left;
    margin-top: -1px;
    position: relative;
}

.vijf {
    width: 250px;
    height: 250px;
    background-color: black;
    margin-left: 100px;
    margin-right: 100px;


}

.zes {
    width: 250px;
    height: 250px;
    background-color: white;
    margin-right: 100px;

}

.zeven {
    width: 250px;
    height: 250px;
    background-color: yellow;
    margin-right: 100px;


}

.acht {

    width: 250px;
    height: 250px;
    background-color: tan;


}

.slideshow-container {
    z-index: -2;
}

.wasdraad {
    z-index: -1;
}

header {
    background-color: #b8dcdb;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    padding: 2% 0;
}

header div {
    width: 15%;
    display: flex;
    justify-content: center;
}

header div a {
    color: #043c4c;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
}

#logo {
    width: 7%;
}

header img {
    background-color: #b7dcdb;
    padding: 5%;
    border-radius: 100%;
    width: 100%;
}

.navbar {
    background-color: #b8dcdb;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: -5%;
    border-radius: 0 0 100% 100%;
    margin-top: 9%;
    width: 25%;
    padding-bottom: 2%;
}

.navbarLogo {
    background-color: #b8dcdb;
    width: 25%;
    margin-left: 35%;
}

#aanmelden {
    margin-left: 80%;
    margin-top: 9%;
}